<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ass</string>
	<string>swimsuit</string>
	<string>barefoot</string>
	<string>cleavage</string>
	<string>open_shirt</string>
	<string>no_bra</string>
	<string>panties</string>
	<string>nipples</string>
	<string>breasts</string>
	<string>bikini</string>
	<string>school_swimsuit</string>
	<string>thighhighs</string>
	<string>underwear</string>
	<string>pantyhose</string>
	<string>shower</string>
	<string>gun</string>
	<string>upskirt</string>
	<string>chaos_dragon</string>
	<string>blood</string>
	<string>smoking</string>
	<string>navel</string>
	<string>bikini_top</string>
	<string>topless</string>
	<string>bra</string>
	<string>all_male</string>
	<string>towel</string>
	<string>skirt_lift</string>
	<string>zettai_ryouiki</string>
	<string>underboob</string>
	<string>garter_belt</string>
	<string>see_through</string>
</array>
</plist>
